.app {
  height: 100vh;
  background: cornflowerblue;
};

.header {
  position: relative;
  display: block;
  width: 100%;
  background: white;
  height: 130px;

}

.title {
  text-align:center;
  color: whitesmoke;

}

.navbar {
  position: absolute;
  right: 15px;
  display: flex;
}

.navBarList {
  list-style-type: none;
  display: inline-flex;
  margin-right: 10px;
 }

 a {
   color: whitesmoke
 }
  